{% extends 'base.html.twig' %}

{% block title %}Créer une tâche
{% endblock %}

{% block header %}
	<h1>Créer une tâche</h1>
{% endblock %}

{% block body %}
	{{form_start(form)}}

	{{form_row(form.title)}}
	{{form_row(form.description)}}
	{{form_row(form.deadline)}}
	{{form_row(form.statut)}}
	{{form_row(form.employee)}}

	<button class="button button-submit">Ajouter</button>
	{{form_end(form)}}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	 <script>
	    document.addEventListener("DOMContentLoaded", function () {
	        flatpickr(".js-datepicker", {
	            dateFormat: "d/m/Y", // Format français jj/mm/aaaa
	            allowInput: true
	        });
	    });
	</script>
{% endblock %}
