{% extends 'base.html.twig' %}

{% block title %}{{form.vars.value.title}}
{% endblock %}

{% block body %}
	<main>
		<header>
			<div id="current-user"></div>
			<div id="title-page">
				<h1>{{form.vars.value.title}}</h1>
			</div>
		</header>
		<div id="content">
			{{form_start(form)}}
			{{form_row(form.title)}}
			{{form_row(form.description)}}
			{{form_row(form.deadline)}}
			{{form_row(form.statut)}}
			{{form_row(form.employee)}}
			<br>
			<button class="button button-submit">Modifier</button>
			<a href="#" class="delete-task">Supprimer la tâche</a>
			{{form_end(form)}}
		</div>
	</main>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr(".js-datepicker", {
            dateFormat: "d/m/Y", // Format français jj/mm/aaaa
            allowInput: true
        });
    });
</script>
{% endblock %}

