{% extends '/auth/base-logout.html.twig' %}

{% block title %}Authentification à deux facteurs
{% endblock %}

{% block body %}
	<h1>L’authentification à deux facteurs n’est pas encore activée.</h1>
	<p>L’authentification à deux facteurs ajoute une couche de sécurité supplémentaire à votre compte.</p>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
			{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
{% endblock %}

