{% extends 'base.html.twig' %}

{% block title %}
	{{form.vars.value.name}}
{% endblock %}

{% block header %}
	<h1>{{form.vars.value.name}}</h1>
{% endblock %}

{% block body %}
		{{form_start(form)}}
		{{form_row(form.name)}}
		{{form_row(form.employees)}}
		<br>
		<button class="button button-submit">Modifier</button>
		{{form_end(form)}}
{% endblock %}
